.reservation {
    height: 40%;
    width: 18%;
    background-color: #FFFFFF;
    border: 4px solid teal;
    color: teal;
    border-radius: 5%;
    margin: 1%;

    button {
        height: 10%;
        width: 80%;
        background-color: teal;
        color: #FFFFFF;
    }
}